  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/img/logo.jpg">
    </a>

    <h1>Carlos Pérez-Aradros Herce</h1>
    <h3>exekias</h3>

    <ul class="nav">
      <li><a href="/"><span class="icon doc"></span>blog</a></li>
      <li><a href="/about/"><span class="icon info"></span>about</a></li>
      <!-- <li><a href="/projects"><span class="icon code"></span>projects</a></li> -->
      <li><a href="http://github.com/exekias" target="_blank"><span class="icon github"></span>github</a></li>
      <li><a href="http://twitter.com/exekias" target="_blank"><span class="icon twitter"></span>twitter</a></li>
      <li><a href="http://flickr.com/people/exekias" target="_blank"><span class="icon flickr"></span>flickr</a></li>
      <li><a href="https://www.linkedin.com/in/exekias" target="_blank"><span class="icon linkedin"></span>linkedin</a></li>
      <li><a href="/feed.xml"><span class="icon rss"></span>Feed</a></li>
    </ul>
  </div>

